.home-container {
  display: flex;
}

.left-container {
  width: 80%;
  background-color: #f2f4fa;
}

.right-container {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0px;
  padding: 0 1%;
  /* margin: 0 1%;
   */
  /* padding-top: 20px; */
}

.container {
  max-width: 90%;
  /* background-color: bisque; */
  margin: 5% auto;
}

.logo {
  width: 250px;
}
.space {
  padding: 20px 0px;
}

@media screen and (max-width: 800px) {
  .home-container {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 20%;
  }
  .container {
    margin-bottom: 20%;
  }
}
