.activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
  gap: 40px;
}

@media screen and (max-width: 900px) {
  .activity-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .activity-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
